@* @model Yunity.ViewModels.ManagerBuildingViewModel *@
@model Yunity.Models.CManagerWrap

@{
    ViewData["Title"] = "Create";
}

<h2>詳細資料</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset disabled>
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" value="@Model.FId" name="fId" />


            <div class="form-group">
                @Html.LabelFor(model => model.FName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BuildingName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BuildingName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Disabled input" } })
                    @Html.ValidationMessageFor(model => model.BuildingName, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.FPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FEmail, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
    </fieldset>

    @Html.ActionLink("編輯", "Edit", new { id = Model.FId }, new { @class = "bi bi-pencil-square",@style = "color:black" })
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

